@font-face {
    font-family: 'Jungka';
    src: url('../../fonts/Jungka-Medium.woff2') format('woff2'),
        url('../../fonts/Jungka-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jungka Book';
    src: url('../../fonts/Jungka-Book.woff2') format('woff2'),
        url('../../fonts/Jungka-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jungka';
    src: url('../../fonts/Jungka-Bold.woff2') format('woff2'),
        url('../../fonts/Jungka-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jungka';
    src: url('../../fonts/Jungka-Regular.woff2') format('woff2'),
        url('../../fonts/Jungka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
